.bg {
  position: absolute;
  min-width: 20rem;
  width: 60vw;
  max-width: 30rem;
  height: 35rem;
  z-index: -1;
}

.bg.bg-purple {
  border-radius: 0 0 20rem 20rem;

  left: -7rem;
  top: 0;
  background: linear-gradient(180deg, var(--grad-light), var(--grad-dark));
}

.bg.bg-white {
  border-radius: 20rem 20rem 0 0;

  right: -7rem;
  bottom: 0;
  background-color: var(--clr-app-bg);
}

.bg-wrapper {
  position: relative;
  inset: 0;
  max-width: 1440px;
  height: 60rem;
  margin: 0 auto;

  padding-top: 5rem;
}

.main-text {
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 1rem;
  max-width: 30rem;
  margin-inline: auto;
}

.main-title {
  font-size: var(--fs-1000);
  font-weight: var(--fw-medium);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main-paragraph {
  color: var(--clr-violet-400);
  line-height: 1.75;
}

@media screen and (min-width: 900px) {
  .bg-wrapper {
    padding-top: 15rem;
  }

  main {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }

  .main-text,
  .main-title {
    text-align: start;
  }

  .bg {
    height: 50rem;
  }
}
